.wall
  width 100%
  position relative
  .w_nav
    height 50px
    background-color #55acee
    color #f3f3f3
    text-align center
    .w_nav_item
      float left
      margin-top 5px
    .w_nav_return
      height 50px
      float left
      line-height 50px
  .w_content
    color #222
  .set_style_hidden
    display none
    position fixed
    right 0
    bottom 45px
    height 150px
    width 100%
    background-color #2d312f
    opacity 0.8
    border-style solid
    text-align center
    font-size 18px
    color #f3f3f3
  .set_style
    position fixed
    right 0
    bottom 45px
    height 150px
    width 100%
    background-color #2d312f
    opacity 0.8
    border-style solid
    text-align center
    font-size 18px
    color #f3f3f3

    .style_color
      width 50%
      height 100%
      float left
      margin-top 5px
      padding-right 5px
      border-right 1px solid #f3f3f3
    .style_size
      width 48%
      float right
      margin-top 5px

  .w_footer
    height 45px
    background-color #2d312f
    opacity 0.8
    position fixed
    bottom 0
    width 100%
    input
      text-align center
      width 60%
      padding 0 10px
      border-radius 20px
      border-style none
      height 38px
      margin-top 1%
      margin-left 2%
      outline none
      float left
      font-size 14px
    .w_push
      height 33px
      width 56px
      background #55acee
      color: #fff
      margin-top 1.5%
      margin-left 10%
      float left
      letter-spacing 1px
      border none
      border-radius 5px
      outline none

