.w_nav
  height 50px
  background-color #55acee
  color #f3f3f3
  text-align center
  .w_nav_item
    float left
    margin-top 5px
  .w_nav_return
    height 50px
    float left
    line-height 50px
