.register-main
  width 100%
  position absolute
.input-list input
  display block
  width 80%
  height 35px
  margin-left 10%
  margin-top 15px
  border-radius 5px
  border 1px solid #ccc
  font-size 14px
  padding-left 10px
  background #fff
  outline none
  &:focus
    border 1px solid #63B8FF
.register-button
  width 83%
  height 42px
  background #26a4de
  margin-left 10%
  margin-top 15px
  border-radius 5px
  border solid 1px #fff
  outline none
  font-size 18px
  color #fff
  &:hover
    opacity 0.8
  a
    color: #fff
    font-size 20px
    position absolute
    left 5px
    top 13px
    text-decoration none
    margin-left 30px







